@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('./bg1.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
}
.navbar{
    background: rgba(0,0,0,.7);
    color: #efece5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(101, 92, 92);
    padding: 10px;
    font-size: 44px;
    
}
.img{
    width: 50px;
    margin-right: 1rem;
}

.card{
    border: 2px solid rgb(247, 242, 242);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin:  auto;
    padding: 1rem 1rem;
   
    max-height: 400px;
    background: rgb(0, 0, 0 ,0.7) ;
    color: aliceblue;
    width:80% ;
    max-width: 500px;
   
   
}
.search-bar{
    border: none;
    border-radius: 20px;
    padding: 7px;
    background-color:  rgba(70, 73, 72, 0.5);
    color: rgb(234, 239, 244);
    
width: 80%;
}
::placeholder{
    color:white;
}
.btn{
    background-color: rgba(70, 73, 72, 0.5);
     border: none;
    border-radius: 100px; 
    margin-left: 5px;
    padding: 7px;
    cursor: pointer;
    color: white   !important;
    
}

.city{
    padding: 30px 0px 25px 0px ;
    
    
}


.temp{
    padding-bottom: 10px;
   font-size: 30px;

}
.dt{
     
   font-size: 20px;

}
.description{
    padding-top: 5px;
    padding-bottom: 5px;
   font-size: 20px;

}
.humidity{
    padding-bottom: 5px;

   font-size: 20px;

}
.wind{
   font-size: 20px;

}